.button {
    border: 1px solid var(--color-black);
    padding: 12px 14px;
    display: inline-block;
    color: var(--color-black);
    text-transform: uppercase;
    letter-spacing: 0.3em;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition-properties);

    @media screen and (max-width: 375px) {
        font-size: 0.8em;
    }

    &:hover {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}