@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
  /* BREAKPOINTS */
  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  --breakpoint-mobile: 480px;
  --breakpoint-mobile-landscape: 600px;
  --breakpoint-tablet: 768px;
  --breakpoint-tablet-landscape: 900px;
  --breakpoint-desktop-sd: 1024px;
  --breakpoint-desktop-hd1: 1366px;
  --breakpoint-desktop-hd2: --layout-desktop;
  --breakpoint-desktop-fhd: 1920px;

  /* COLORS */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);

  /* TYPOGRAPHY */
  --font-alata: 'Alata', sans-serif;
  --font-josefin-sans: 'Josefin Sans', sans-serif;

  /* CONTAINER WIDTH */
  --container-width: 1100px;
  --container-spacing: 60px;
  --container-inline-spacing: 20px;

  /* TRANSITION PROPERTIES */
  --transition-properties: all 300ms ease;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-alata);
  color: var(--color-dark-gray);
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: var(--font-josefin-sans);
  color: var(--color-black);
  font-weight: 300;
}

h1 {
  font-size: 2.2em;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition-properties);
}

li {
  list-style-type: none;
}

p {
  line-height: 1.6em;
}

picture {
  display: flex;
}

img {
  width: auto;
  max-width: 100%;
}